@model LMS.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @id = "myform" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="row" style="padding: 10px 10px 0 10px;">
            <div class="col-md-12 alert-group" id="dv_message_forgot">
                <div class="col-md-12 alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true" id="btn_message">×</button>
                    <span id="sp_message"><strong>Well done!</strong> You successfully read this important alert message.</span>
                </div>
            </div>
        </div>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">@LMSResourse.User.Login.login.lblForgotPassword</h5>
        </div>
        <div class="modal-body">
            <div class="form-group">
                @LMSResourse.Admin.ForgotPassword.lblForgotPasswordText
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, new { style = "color:#0867BE" })<span class="req" style="color: #FFC107;">*</span>
                @Html.TextBoxFor(m => m.EmailAddress, new { @maxlength = "150", @class = "form-control", @id = "EmailID" })
                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @style = "color:red" })
            </div>
            <div class="form-group login_error_not_exist" style="margin-left: 50px;padding-top: 0px !important;display:none;color:red;"></div>
        </div>
        <div class="modal-footer">
            <input type="submit" value="@LMSResourse.Common.Common.btnSubmit" class="btn btn-primary" id="approve-btn" />
            <a class="btn btn-secondary" style="text-align: center; color: #ffffff;" data-dismiss="modal" id="btn_cancel">@LMSResourse.Common.Common.btnCancel</a>
        </div>
    </div>
    <script type="text/javascript">
        $("document").ready(function () {
            $("#btn_message").click();

            $("#approve-btn").click(function (e) {
                e.preventDefault();
                var result = $('#myform').valid();

                if ($('#myform').valid()) {
                    checkEmailExists("@LMSResourse.Admin.User.msgEmailNotExists", "@LMSResourse.Admin.Login.msgForgotConfirmPasswordmail", "@LMSResourse.Admin.Login.msgForgotPasswordError");
                }

                return false;
            });
        });
    </script>

}

