@model IEnumerable<CLSLms.Category>
@{
    ViewBag.Title = "Category list";
    @Styles.Render("~/Content/jquery.dataTables.min.css");
    <style type="text/css">
        .hover {
            background-color: lightyellow;
        }
    </style>
}
<div class="container-fluid" style="border:0px;">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Admin">@LMSResourse.Common.ApplicationMenu.lblHome</a></li>
            <li class="breadcrumb-item active">@LMSResourse.Common.ApplicationMenu.lblCategories</li>
        </ol>
    </nav>
    <div style="align-items:center;text-align:center;vertical-align:middle;">
        <div id="errormessage" style="display:none;" class="alert alert-danger" role="alert"></div>
    </div>
    <input type="hidden" id="SelectedId" value="0" />
    <div class="breadcrumb" style="background-color:transparent">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a style="margin-right:20px;" data-toggle="tooltip" data-placement="bottom" title="@LMSResourse.Common.ApplicationMenu.tooltipCreateCategory" class="btn btn-outline-primary" href="~/Category/CreateCategory"><i class="fa fa-plus" aria-hidden="true"></i></a>
            <a style="margin-right:20px;" data-toggle="tooltip" data-placement="bottom" title="@LMSResourse.Common.ApplicationMenu.tooltipEditCategory" class="btn btn-outline-primary disabled" id="btnEdit" href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a style="margin-right:20px;" data-toggle="tooltip" data-placement="bottom" title="@LMSResourse.Common.ApplicationMenu.tooltipDeleteCategory" class="btn btn-outline-primary disabled" id="btnDelete" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </nav>
    </div>
    <div class="table-responsive margin-top-20">
        <table border="0" class="table table-bordered dataTable table-hover" id="myDataTable">
            <thead>
                <tr>
                    <th class="border-left-top-bottom" style="width:200px;">@LMSResourse.Admin.Category.thCategory</th>
                    <th style="width:250px;">@LMSResourse.Admin.Category.thDescription</th>
                    <th style="width:40px;">@LMSResourse.Admin.Category.thStatus</th>
                    <th class="border-right-top-bottom" style="width:200px;">@LMSResourse.Common.Common.thCreationDate</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@LMSResourse.Admin.Category.lblConfirmDeleteHeading</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @LMSResourse.Admin.Group.msgConfirmDelete
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@LMSResourse.Common.Common.btnCancel</button>
                <button type="button" class="btn btn-primary" id="btn_deleteOk">@LMSResourse.Admin.Category.btnConfirmDelete</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        jQuery.fn.dataTableExt.oApi.fnSetFilteringDelay = function (oSettings, iDelay) {
            var _that = this;

            if (iDelay === undefined) {
                iDelay = 250;
            }

            this.each(function (i) {
                $.fn.dataTableExt.iApiIndex = i;
                var
                    $this = this,
                    oTimerId = null,
                    sPreviousSearch = null,
                    anControl = $('input', _that.fnSettings().aanFeatures.f);

                anControl.unbind('keyup search input').bind('keyup search input', function () {
                    var $$this = $this;

                    if (sPreviousSearch === null || sPreviousSearch != anControl.val()) {
                        window.clearTimeout(oTimerId);
                        sPreviousSearch = anControl.val();
                        oTimerId = window.setTimeout(function () {
                            $.fn.dataTableExt.iApiIndex = i;
                            _that.fnFilter(anControl.val());
                        }, iDelay);
                    }
                });

                return this;
            });
            return this;
        };
    </script>
    <script type="text/javascript">

        function ShowHideAction() {

            if ($("#SelectedId").val() == "0") {
                $("#btnEdit").addClass("disabled").click(function () { return false; });
                $("#btnDelete").addClass("disabled").click(function () { return false; });
            }
            else {
                $("#btnEdit").removeClass("disabled").click(function () { if ($("#SelectedId").val() != "0") { window.location = 'Category/EditCategory/' + $("#SelectedId").val(); } else { return false; } });
                $("#btnDelete").removeClass("disabled").click(function () { if ($("#SelectedId").val() != "0") { return true; } else { return false; } });

            }
        }

        function htmlEncode(value) {
            //create a in-memory div, set it's inner text(which jQuery automatically encodes)
            //then grab the encoded contents back out.  The div never exists on the page.
            return $('<div/>').text(value).html();
        }

        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }

        function fillGrid() {

            var fileUrl = "Include/datatablefiles/";
            var filename = "en-us.txt";
            if (filename == '')
                fileUrl = fileUrl + "en-us.txt";
            else
                fileUrl = fileUrl + filename;
            //var Display = parseInt('@Session["ListiDisplayLength"]');

            var oTable = $('#myDataTable').dataTable({
                "bServerSide": true,
                "sAjaxSource": "Category/AjaxHandlerCategory",
                "bProcessing": true,
                "bStateSave": false,
                "bDestroy": true,
                "scrollX": "500px;",
                "sPaginationType": "full_numbers",
                "sDom": '<"top"lfip>rt<"bottom"ip<"clear">',
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, '@LMSResourse.Common.Common.GridAll']],
                "oLanguage": { "sUrl": fileUrl },
                "fnServerParams": function (aoData) {
                    // aoData.push({ "name": "fCol1", "value": $('#userstatus').val() })
                },
                "aoColumns": [
                            {
                                "bSortable": true,
                                "fnRender": function (oObj) {
                                    return (htmlEncode(oObj.aData[0].toString()));

                                }
                            },
                            {


                            },
                            {

                            },
                            {
                                "bSortable": false,
                                "fnRender": function (o, val) {
                                    return o.aData[3].toString() + '<input type="hidden" id="CourseId" value="' + o.aData[4].toString() + '" />';
                                }
                            }
                ],
                "fnDrawCallback": function (oSettings) {
                    $("#SelectedId").val("0");
                    ShowHideAction();
                }
            });
            setTimeout(function () { oTable.fnSetFilteringDelay(600); }, 500);
        }

        $(document).ready(function () {
            fillGrid();

            $('#myDataTable > tbody').on('click', 'tr', function () {


                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $("#SelectedId").val(0);
                }
                else {
                    $('#myDataTable > tbody tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $("#SelectedId").val($(this).find('#CourseId').val());
                }
                ShowHideAction();
            });

            $("#btnDelete").click(function () {
                if ($("#SelectedId").val() > 0)
                    $('#exampleModal').modal('show')
            });
            $("#btn_deleteOk").click(function () {

                $.ajax({
                    type: "POST",
                    url: "Category/DeleteCategory/" + $("#SelectedId").val(),
                    contentType: "application/json; charset=utf-8",
                    data: "",
                    dataType: "json",
                    sucess: function (data) {
                    },
                    complete: function (data, textStatus) {

                        if (data.responseText != null && data.responseText != "") {
                            $("#errormessage").html(data.responseText);
                            $("#errormessage").show();
                            $('#errormessage').delay(parseInt(((data.responseText.length * 0.2) + data.responseText.length) / 16) * 1000).fadeOut();
                            $("#delete_popup").css("display", "none");
                        }
                        else if (data.responseText == "")
                        { window.location.reload(true); }
                        else { window.location.reload(true); }
                    },
                    async: false
                });

            });


            $("#mainmenu li").removeClass("active");
            $("#mainmenu li:eq(6)").addClass("active");

        });
    </script>
}




